<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <body>
    <nav th:fragment="navbar" class="navbar nav" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a th:href="@{/}" class="vert-align">
                <img th:src="@{/images/logo.png}" class="logo"></span>
                <!--imaged sourced from https://www.stickpng.com/cat/games/stardew-valley?page=2-->
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" id="burg"
               onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">

                <div class="navbar-item has-dropdown is-hoverable">
                    <a th:href="@{/plants/list}" href="/plants/list" class=" navbar-link" th:text="#{menu}"></a>
                    <div class="navbar-dropdown">
                        <a th:href="@{/plants/list}" class="navbar-item" th:text="#{viewEntries}"></a>
                        <hr class="navbar-divider">
                            <a th:href="@{/plants/add}" class="navbar-item" th:text="#{addEntry}"></a>
                        <hr class="navbar-divider">
                             <a th:href="@{/plants/find}" class="navbar-item" th:text="#{findEntry}"></a>
                        <hr class="navbar-divider">
                            <a th:href="@{/plants/date}" class="navbar-item" th:text="#{viewDates}"></a>
                        <hr class="navbar-divider">
                            <a th:href="@{/plants/export}" class="navbar-item" th:text="#{exportList}"></a>
                        <hr class="navbar-divider">
                    </div>
                </div>
                <div class="navbar-end">
                    <a th:href="@{/about}" class="navbar-item" th:text="#{about}"></a>
                </div>
            </div>
        </div>
    </nav>
    </body>
</html>