:root {
    
    --main-color: #1f93ff;
    --second-color: #70c725;
    
}

h2{
    font-family: "Trebuchet MS";
    font-size: 22px;
    text-align: center
    
}

h3{
    font-size: 40px;
    text-align: left;
}

.subtext{
    font-size: 18px;
    text-align: center
}
.logo{
    height: 70px;
}
.no-link {
    color: inherit;
}

.no-link:hover {
    text-decoration: none;
    color: inherit;
}

.table-title {
    display: flex;
    justify-content: space-between;
}

.form-container, .table-container {
    margin: 0 auto;
    
}

.table-container {
    margin: 0 auto;
}

.field-id {
    width: 20px;
    display: none;
}

.flex-sp-btw {
    display: flex;
    justify-content: space-evenly;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
}

.links > a {
    margin-right: 24px;
}

.nav {
    margin-bottom: 50px;
    background: var(--main-color);
}

.ftr {
    margin-top: 175px;
    padding: 35px;
    background: var(--second-color);
    font-family: "Trebuchet MS";
    color: aliceblue;
    font-weight: bold;
    
}
.vert-align {
    display: flex;
    align-items: center;
}
.centered{
    margin: 0 auto;
}

.indeximage{
    align-items: center
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.field{
    text-align: center;
    font-family: "Trebuchet MS";
    font-size: 20px;
    
}

.label{
    padding-top: 25px;
    font-family: "Trebuchet MS";
    font-size: 30px;
    text-align: center;
}

.table{
   margin-right: auto;
   margin-left: auto;
}

button{
   margin-right: auto;
   margin-left: auto;
}
