<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head">
        <title id="pageTitle" th:text="#{application.name}">Stardew Valley Plant Tracker</title>
    </head>
    <body>
    <nav th:replace="fragments/navHeader :: navbar"></nav>
    <div class="container has-text-centered">
        <h2 class="title is-2" th:text="#{about}"></h2>
        <table class="table centered">
            <tr>
                <th>Member Name</th>
                <th>Role</th>
            </tr>
            <tr>
                <td><span th:text=#{businessRepresentative}></span></td>
                <td><span th:text=#{businessRepresentativeRole}></span></td>
            </tr>
            <tr>
                <td><span th:text=#{leadDeveloper}></span></td>
                <td><span th:text=#{leadDeveloperRole}></span></td>
            </tr>
        </table>
        <!--imaged sourced from https://www.stickpng.com/cat/games/stardew-valley?page=3-->
        <img src="images/trees.png" alt="stardew trees" </img>
    </div>
    </body>
    <footer th:replace="fragments/footer :: footer"></footer>
</html>