<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head">
        <title id="pageTitle" th:text="#{application.name}">Stardew Valley Plant Tracker</title>
    </head>
    <body>
    <nav th:replace="fragments/navHeader :: navbar"></nav>
    <div class="container has-text-centered">
        <h2 class="title is-2 has-text-centered"<span th:text=#{listTitle}></span></h2>
        <h2 class="subtext"<span th:text=#{listMessage}></span></h2>
        <table class="table centered">
            <tr>
                <th><span th:text=#{seasonVariable}></span></th>
                <th><span th:text=#{plantVariable}></span></th>
                <th><span th:text=#{plantDatesHeader}></span></th>
                <th><span th:text=#{harvestHeader}></th>
                <th><span th:text=#{regrowthHeader}></th>
            </tr>
            <tr>
                <td>Spring</td>
                <td>Blue Jazz</td>
                <td>Day 1, 8, 15, 22 </td>
                <td>7 Days</td>
                <td>Replant Seeds</td>
            </tr>
            <tr>
                <td>Spring</td>
                <td>Cauliflower</td>
                <td>Day 1, 12 </td>
                <td>12 Days</td>
                <td>Replant Seeds</td>
            </tr>
            <tr>
                <td>Spring</td>
                <td>Coffee Bean</td>
                <td>Day 1</td>
                <td>10 Days</td>
                <td>Grows back every 2 days</td>
            </tr>
            <tr>
                <td>Spring</td>
                <td>Garlic</td>
                <td>Day 1, 6, 11, 16, 21 </td>
                <td>5 Days</td>
                <td>Replant Seeds</td>
            </tr>
            <tr>
                <td>Spring</td>
                <td>Green Bean</td>
                <td>Day 1 </td>
                <td>10 Days</td>
                <td>Grows back every 2 days</td>
            </tr>
            <tr>
                <td>Spring</td>
                <td>Kale</td>
                <td>Day 1, 7, 14, 20 </td>
                <td>6 Days</td>
                <td>Replant Seeds</td>
            </tr>
            <tr>
                <td>Summer</td>
                <td>Blueberry</td>
                <td>Day 1 </td>
                <td>14 Days</td>
                <td>Grows back every 4 days</td>
            </tr>
            <tr>
                <td>Summer</td>
                <td>Corn</td>
                <td>Day 1</td>
                <td>15 Days</td>
                <td>Grows back every 3 days</td>
            </tr>
            <tr>
                <td>Summer</td>
                <td>Hops</td>
                <td>Day 1</td>
                <td>12 Days</td>
                <td>Grows back everyday</td>
            </tr>
            <tr>
                <td>Summer</td>
                <td>Hot Pepper</td>
                <td>Day 1</td>
                <td>5 Days</td>
                <td>Grows back every 2 days</td>
            </tr>
            <tr>
                <td>Summer</td>
                <td>Melon</td>
                <td>Day 1, 13</td>
                <td>8 Days</td>
                <td>Replant Seeds</td>
            </tr>
            <tr>
                <td>Summer</td>
                <td>Poppy</td>
                <td>Day 1, 8, 16 </td>
                <td>7 Days</td>
                <td>Replant Seeds</td>
            </tr>
            <tr>
                <td>Fall</td>
                <td>Amaranth</td>
                <td>Day 1, 8, 16 </td>
                <td>8 Days</td>
                <td>Replant Seeds</td>
            </tr>
            <tr>
                <td>Fall</td>
                <td>Artichoke</td>
                <td>Day 1, 9, 18</td>
                <td>9 Days</td>
                <td>Replant Seeds</td>
            </tr>
            <tr>
                <td>Fall</td>
                <td>Beet</td>
                <td>Day 1, 7, 13, 19 </td>
                <td>7 Days</td>
                <td>Replant Seeds</td>
            </tr>
            <tr>
                <td>Fall</td>
                <td>Bok Choy</td>
                <td>Day 1, 5, 10, 15, 20 </td>
                <td>5 Days</td>
                <td>Replant Seeds</td>
            </tr>
            <tr>
                <td>Fall</td>
                <td>Cranberries</td>
                <td>Day 1 </td>
                <td>8 Days</td>
                <td>Grows back every 4 days</td>
            </tr>
            <tr>
                <td>Fall</td>
                <td>Eggplant</td>
                <td>Day 1, 6, 12, 18 </td>
                <td>6 Days</td>
                <td>Replant Seeds</td>
            </tr>

        </table>

    </div>
    </body>
    <footer th:replace="fragments/footer :: footer"></footer>
</html>