<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/head :: head">
        <title id="pageTitle" th:text="${session.title}"></title>
    </head>
    <body>
    <nav th:replace="fragments/navHeader :: navbar"></nav>
    <div class="container">
        <h2 class="title is-2" th:text="${session.title}"></h2>
        <h2><span th:text="${session.title}"></span> data has been exported to file location on C: Drive </h2>
    </div>
    </body>
    <footer th:replace="fragments/footer :: footer"></footer>

</html>